

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>TRO-CR-NGP</title>
	
	<!-- Stylesheets -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet'>
	<%= stylesheet_link_tag  'application','styles.css' %>
    <%= javascript_include_tag  "application"%>
    <%= csrf_meta_tags %>

	<!-- Optimize for mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
</head>
<body>

	<!-- TOP BAR -->
 <!-- end top-bar -->
	
	
	
	<!-- HEADER -->
	<div id="header">
		
		<div class="page-full-width cf">
	
			<div id="login-intro" class="fl" style="#EEEFEF;">
			
				
				
			
			</div> <!-- login-intro -->
			
			
			
			
		</div> <!-- end full-width -->	
		<h1 style="font-size:4.125em;margin-top:0;">TRO CR Nagpur Devision</h1>
		<h5 style="font-size: 1.625em;">Energy Consumption Data Management</h5>

	</div> <!-- end header -->
	
	
	
	<!-- MAIN CONTENT -->
	<div id="content">
	
		<%= form_for(:session, :url => sessions_path,:html => {:id=>"login-form" } ) do |f| %>
		
			<fieldset>

				<p>
					<label for="login-username">Loco Pilot Id</label>
					
					<%= f.text_field :email,:class=> "round full-width-input" %>
				</p>

				<p>
					<label for="login-password">password</label>
					
					<%= f.password_field :password,:class=> "round full-width-input"  %>
				</p>
				
				<%= f.submit "LOG IN",:class=>"button round blue image-right ic-right-arrow" %>
				
				

			</fieldset>

			


		<% end %>
		
	</div> <!-- end content -->
	
	
	
	<!-- FOOTER -->
 <!-- end footer -->

</body>
</html>

