<%= form_for(@loco) do |f| %>
  <% if @loco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loco.errors.count, "error") %> prohibited this loco from being saved:</h2>

      <ul>
      <% @loco.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <style>
table
{
border:2px solid black;
}

.tf {
    background: url("/assets/tf_bg.jpg") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    width: 70px;
}
.tf1 {
    background: url("/assets/tf_bg.jpg") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    width: 120px;
}

}

</style>

<table>  

<table style="width:56%;">
<h1 style ="font-size: 2.125em">Trip Rotation Entry</h1>
  <tr>
   <td>  Loco Pilot</td>        
    <td><%= f.number_field :crew_id ,:class=>'tf1'%></td>   
    <td>Run Kwh</td>
    <td><%= f.number_field :kwhrun,:class=>'tf1' %></td>
  </tr>
  <tr>
     <td>Train No </td>
    <td><%= f.number_field :Locono,:class=>'tf1' %> &nbsp;&nbsp;&nbsp;Base &nbsp;&nbsp;<%= f.text_field :Base,:class=>'tf' %> &nbsp;&nbsp;</td>
      
   <td>Halt Kwh</td>
   <td> <%= f.number_field :Kwhhalt ,:class=>'tf1'%></td>
  </tr>
  
  <tr>
    <td>Train</td><br />
    <td><%= f.text_field :Train ,:class=>'tf1'%> &nbsp;&nbsp;Load &nbsp;&nbsp;<%= f.number_field :Load ,:class=>'tf1'%>&nbsp;&nbsp;</td></td>
     
     <td>GenKwh</td>
     <td><%= f.number_field :Kwhgen,:class=>'tf1' %></td>
  </tr>
  <tr>
    <td><%= f.label :Traintype %></td><br />
    <td><%= f.text_field :Traintype ,:class=>'tf1'%></td>
     <td>Coasting KMS</td>
     <td><%= f.number_field :KMS ,:class=>'tf1'%></td>
  </tr>
 
  <tr>
    <td>Section</td>
    <td><%= f.text_field :Section,:class=>'tf1' %></td>
   <td>Total Kms</td>
    <td><%= f.number_field :Coasthrs,:class=>'tf1' %></td>
  
  </tr>
  <tr>
   <td>Departure </td>
   <td><%= f.datetime_select :Dep %></td>
   <td>Hault </td>
   <td><%= f.number_field :Hault ,:class=>'tf1'%></td>
    </tr>
  <tr>
  <td>Arrival </td>    
    <td><%= f.datetime_select :Arr %></td>
    <td>Hault in Min </td>
     <td><%= f.number_field :HaultHrs,:class=>'tf1' %></td>
  </tr>  
  </br>
  </br>
    <%#= f.label :Coast %>
    <%#= f.number_field :Coast %>
 
    <%#= f.label :Kwhration %>
    <%#= f.text_field :Kwhration %>
  
  
</table>
<tr>
</tr></br>
 <tr>
    <td><%= link_to 'Back', locos_path,:class =>"round button dark ic-left-arrow image-left" %> </td> &nbsp;&nbsp;<td> <%= f.submit "Save",:class =>"round blue ic-right-arrow"%></td>
  </tr>
  <% end %>

</table>