<p id="notice"><%= notice %></p>

<p>
  <b>Crew:</b>
  <%= @loco.crew_id %>
</p>

<p>
  <b>Locono:</b>
  <%= @loco.Locono %>
</p>

<p>
  <b>Base:</b>
  <%= @loco.Base %>
</p>

<p>
  <b>Train:</b>
  <%= @loco.Train %>
</p>

<p>
  <b>Traintype:</b>
  <%= @loco.Traintype %>
</p>

<p>
  <b>Load:</b>
  <%= @loco.Load %>
</p>

<p>
  <b>Section:</b>
  <%= @loco.Section %>
</p>

<p>
  <b>Kms:</b>
  <%= @loco.KMS %>
</p>

<p>
  <b>Dep:</b>
  <%= @loco.Dep %>
</p>

<p>
  <b>Arr:</b>
  <%= @loco.Arr %>
</p>

<p>
  <b>Coast:</b>
  <%= @loco.Coast %>
</p>

<p>
  <b>Coasthrs:</b>
  <%= @loco.Coasthrs %>
</p>

<p>
  <b>Hault:</b>
  <%= @loco.Hault %>
</p>

<p>
  <b>Haulthrs:</b>
  <%= @loco.HaultHrs %>
</p>

<p>
  <b>Kwhrun:</b>
  <%= @loco.kwhrun %>
</p>

<p>
  <b>Kwhhalt:</b>
  <%= @loco.Kwhhalt %>
</p>

<p>
  <b>Kwhgen:</b>
  <%= @loco.Kwhgen %>
</p>

<p>
  <b>Kwhration:</b>
  <%= @loco.Kwhration %>
</p>


<%= link_to 'Edit', edit_loco_path(@loco) %> |
<%= link_to 'Back', locos_path %>
